@model  WebApplication1.ViewModel.News.NewsListViewModel
@using PagedList.Mvc;

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "News", FormMethod.Get))
{
	<p>
		<fieldset>
			<legend>查詢條件</legend>
			<table class="table">
				<tr>
					<th>標題：</th>
					<td>
						@Html.TextBox("SearchTitle", ViewData[""], new { @class = "form-control" })
					</td>
					<th>內容：</th>
					<td>
						@Html.TextBox("SearchContent", ViewData[""], new { @class = "form-control" })
					</td>
				</tr>
				<tr>
					<th>日期：</th>
					<td>
						@Html.TextBox("SearchDate", "", new { @class = "date-picker", @size = 10 })
					</td>
					<th>類別：</th>
					<td>
						@Html.DropDownList("SearchKind", Model.kind_list, "請選擇類別", new { @class = "form-control" })
					</td>
					<td>
						<input type="submit" value="查詢" class="btn btn-secondary" />
					</td>
				</tr>
				<tr>
				</tr>
			</table>
		</fieldset>
	</p>
}

<table class="table">
	<tr>
		<th style="width: 20%;">
			@Html.ActionLink("標題", "Index",
							 new { Sorting_Order = ViewData["SortingTitle"],
								 SearchTitle = ViewData["SearchTitle"],
								 SearchContent = ViewData["SearchContent"],
								 SearchDate = ViewData["SearchDate"],
								 SearchKind = ViewData["SearchKind"],
								 PageIndex = ViewData["PageIndex"]
							 })
		</th>
		<th style="width: 55%;">
			@Html.DisplayNameFor(model => model.news_list.FirstOrDefault().content)
		</th>
		<th style="width: 20%;">
			@Html.ActionLink("公布日期", "Index",
							 new { Sorting_Order = ViewData["SortingDate"],
								 SearchTitle = ViewData["SearchTitle"],
								 SearchContent = ViewData["SearchContent"],
								 SearchDate = ViewData["SearchDate"],
								 SearchKind = ViewData["SearchKind"],
								 PageIndex = ViewData["PageIndex"]
							 })
		</th>
		<th style="width: 5%;"></th>
	</tr>

	@foreach (var item in Model.news_list)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.title)
			</td>
			<td class="ellipse">
				@Html.DisplayFor(modelItem => item.content)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.begin_end_date)
			</td>
			<td>
				@Html.ActionLink("編輯", "Edit", new { id = item.news_id })
			</td>
		</tr>
	}
</table>
<br />
頁數：@(Model.page_index) of @Model.page_count
<br /><br />
@{for (int i = 0; i < Model.page_count; i++)
	{
		@Html.ActionLink((i + 1).ToString(), "Index",
						 new { Sorting_Order = ViewData["Sorting_Order"],
							 SearchTitle = ViewData["SearchTitle"],
							 SearchContent = ViewData["SearchContent"],
							 SearchDate = ViewData["SearchDate"],
							 SearchKind = ViewData["SearchKind"],
							 PageIndex = (i + 1)
						 }, new { @class = ((i + 1).ToString() == ViewData["PageIndex"].ToString() ? "page active" : "page") })
	}
}

